*{
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.row{
    /* background-color: aqua; */
    width: 70%;
    min-height: 500px;
    display: flex;
    justify-content: space-evenly; 
}
.col{
    width: 30%;
    height: 500px;
    background-color: aquamarine;
    border: 1px solid black;
    

}
.card-header{
    background-color: grey;
    color: white;
    padding: 20px;
}
.card-img img{
    width: 100%;
    height: 200px;

}
.card-tittle{
    padding: 20px;
    text-align: center;
}
.card-body ul{
    list-style: none;
    line-height: 20px;
    margin-left: 10px;


}
.card-body ul li i{
    color: red;
}
.card-footer{
    /* border: 1px black solid; */
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.card-btn{
    background-color: red;
    height: 30px;
    color: white;
    padding: 10px;
    border:1px solid black;
    
    
    
}
.card-footer :hover{
    transform:scale(1.5);
}
